// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons.css';

.posts-container{
    background-color: #fff;
   
    table{

        border: 2px solid black;
        thead{
            background-color: yellow;
            font-size: 20px;
            color:red;
            text-align: center;
           
        }
        .id{
            background-color: yellow;
        }
        img{
            width:150px;
        }
    }
}
